<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recommends">
	<select id="findById" parameterType="hashmap" resultType="data.Recommend">
		select * from recommends where re_user = #{userId} and re_board = #{boardId}
	</select>
	<insert id="likes" parameterType="hashmap">
		insert into recommends values(#{userId}, #{boardId}, 1)
	</insert>
</mapper>